<template>
  <div class="configurable-item">
    <div class="item-section-header">
      <span class="item-label">{{
        $t(`page.railingConfigurator.${detail.name}.label`)
      }}</span>
      <i class="icon-question" @click.capture="onHelpClick()"></i>
    </div>
    <div
      v-if="inlineDetail && activeItemId === detail.id"
      class="item-section-detail"
      :class="{ active: detail.id === activeItemId }"
    >
      <options-slider
        :setupItem="setupItem"
        @add-option="propagateSetSetupOptionsEvent('add-option')"
        @remove-option="propagateSetSetupOptionsEvent('remove-option', $event)"
        @set-option-hint="onHelpClick($event)"
        @set-setup-option="
          propagateSetSetupOptionsEvent('set-setup-option', $event)
        "
      />
    </div>
  </div>
</template>

<script>
import OptionsSlider from './options-slider.vue';

export default {
  name: 'configurable-item',
  components: {
    OptionsSlider,
  },
  props: {
    activeItemId: String,
    detail: Object,
    inlineDetail: Boolean,
    hintVisible: Boolean,
    setupItem: Object,
  },
  data() {
    return {
      sliderIndex: 0,
    }
  },
  methods: {
    onHelpClick(label) {
      this.$emit('set-option-hint', label);
      this.$emit('update:hintVisible', true);
      window.scrollTo({ top: 0, left: 0, behavior: 'smooth' });
    },
    propagateSetSetupOptionsEvent(name, event) {
      this.$emit(name, event);
    }
  },
}
</script>