<template>
  <div
    class="detail-option-item"
    :class="{ active: item.selected }"
    @click="setSetupOption"
  >
    <img :src="`static/images/${item.img}.jpg`" />
    <span class="detail-option-label">
      {{ $t(`${parameterName}.option.${item.label}`) }}
    </span>
    <i
      v-if="availableOptionHints[item.id]"
      class="icon-question"
      @click.capture.stop="showHint"
    ></i>
  </div>
</template>

<script>
import { availableOptionHints } from '@/static';

export default {
  name: 'detail-option-item',
  props: {
    item: Object,
    parameterName: String,
  },
  i18nOptions: { keyPrefix: 'page.railingConfigurator' },
  data() {
    return {
      availableOptionHints,
    };
  },
  methods: {
    setSetupOption() {
      this.$emit('set-setup-option', this.item.id);
    },
    showHint() {
      this.$emit('set-option-hint', this.item.label);
    },
  },
}
</script>