<template>
  <div class="detail-option-item editable">
    <i v-if="index !== 1" class="icon-cross" @click="removeOption"></i>
    <div class="item-number">
      <span>{{ index }}</span>
    </div>
    <label :for="`length-${index}`">
      {{ $t("page.railingConfigurator.length.label") }} [mm]
    </label>
    <input
      :id="`length-${index}`"
      type="number"
      :min="minValues.length"
      v-model.number="optionData.length"
    />
    <label :for="`amount-${index}`">
      {{ $t("page.railingConfigurator.segmentsNumber.label") }}
    </label>
    <input
      :id="`amount-${index}`"
      type="number"
      :min="minValues.segmentsNumber"
      v-model.number="optionData.segmentsNumber"
    />
    <label :for="`angle-${index}`">
      {{ $t("page.railingConfigurator.angle.label") }} [°]
    </label>
    <input
      :id="`angle-${index}`"
      type="number"
      :min="minValues.angle"
      :disabled="index === 1"
      v-model.number="optionData.angle"
    />
  </div>
</template>

<script>
import debounce from 'lodash.debounce';
import { getRandomHex } from '@/utils';
import { MinDimensionValue, DimensionProp } from '@/static';

export default {
  name: 'editable-detail-option-item',
  props: {
    item: Object,
    index: Number
  },
  data() {
    return {
      optionData: { ...this.item },
      minValues: MinDimensionValue,
      validateDebounce: debounce((value, prop) => this.validateDimmensionSettings(value, prop), 500),
    }
  },
  watch: {
    [`optionData.${DimensionProp.ANGLE}`](value) {
      this.validateDebounce(value, DimensionProp.ANGLE);
    },
    [`optionData.${DimensionProp.LENGTH}`](value) {
      this.validateDebounce(value, DimensionProp.LENGTH);
    },
    [`optionData.${DimensionProp.SEGMENTS_NUMBER}`](value) {
      this.validateDebounce(value, DimensionProp.SEGMENTS_NUMBER);
    },
    item(val) {
      this.optionData = { ...val };
    },
  },
  methods: {
    removeOption() {
      this.$emit('remove-option', this.item);
    },
    addOption() {
      this.$emit('add-option', getRandomHex());
    },
    setSetupOption() {
      this.$emit('set-setup-option', this.item.id, this.optionData);
    },
    validateDimmensionSettings(value, prop) {
      const minValue = this.minValues[prop];
      if (parseInt(value, 10) < minValue) {
        this.optionData[prop] = minValue;
      }
      this.setSetupOption();
    }
  }
}
</script>