<template>
  <div>
    <div
      class="detail-options-wrapper"
      :style="{ 'max-width': isMobileView ? `${maxSliderWidth}px` : 'unset' }"
    >
      <div v-if="!isMobileView" class="slider-controls">
        <div class="navigation">
          <i
            class="icon-arrow-right left-arrow"
            :class="{ disabled: !allowBackward }"
            @click="changeCurrentGroupIndex(-1)"
          ></i>
          <i
            class="icon-arrow-right right-arrow"
            :class="{ disabled: !allowForward }"
            @click="changeCurrentGroupIndex(1)"
          ></i>
        </div>
        <div v-if="editable" class="add-button">
          <i class="icon-plus right-arrow" @click="addOption"></i>
        </div>
      </div>
      <template v-for="(optionsGroup, i) in detailOptions">
        <div
          :key="i"
          class="detail-options-group"
          :style="{ transform: `translateX(${translateValue}%)` }"
        >
          <component
            :is="editableOptionComponent"
            v-for="(option, index) in optionsGroup"
            :key="option.id"
            :item="option"
            :index="i * itemsPerGroup + index + 1"
            :parameterName="setupItem.name"
            @remove-option="removeOption"
            @set-option-hint="setOptionHint($event)"
            @set-setup-option="setSetupOption"
          />
        </div>
      </template>
    </div>
    <i
      v-show="allowBackward && isMobileView"
      class="icon-arrow-right left-arrow"
      @click="changeCurrentGroupIndex(-1)"
    ></i>

    <i
      v-if="addButtonVisible && isMobileView"
      class="icon-plus right-arrow"
      @click="addOption"
    ></i>
    <i
      v-else-if="allowForward && isMobileView"
      class="icon-arrow-right right-arrow"
      @click="changeCurrentGroupIndex(1)"
    ></i>
  </div>
</template>

<script>
import DetailOptionItem from './detail-option-item.vue';
import EditableDetailOptionItem from './editable-detail-option-item.vue';
import EventBus, { EventType } from '@/eventbus';
import { BreakPoint } from '@/static';
import { getRandomHex } from '@/utils';

const TRANSLATE_PERCENT_MULTIPLIER = 100; //[%]
const ITEMS_PER_GROUP_MAP = {
  [BreakPoint.XS]: 1,
  [BreakPoint.SM]: 2,
  [BreakPoint.MD]: 3,
};

export default {
  components: {
    DetailOptionItem,
    EditableDetailOptionItem,
  },
  props: {
    options: Array,
    setupItem: Object,
  },
  data() {
    return {
      itemsPerGroup: 0,
      detailOptions: [],
      currentGroupIndex: 0,
      translateValue: 0,
      arrowAnimation: false,
      isMobileView: window.innerWidth < BreakPoint.MD,
      maxSliderWidth: document.documentElement.clientWidth,
    };
  },
  watch: {
    'setupItem.options': 'prepareSliderData',
    currentGroupIndex(val, prevVal) {
      const diff = prevVal - val;
      this.translateValue += diff * TRANSLATE_PERCENT_MULTIPLIER;
    },
    itemsPerGroup() {
      this.prepareSliderData();
    },
  },
  computed: {
    allowForward() {
      return this.currentGroupIndex < this.detailOptions.length - 1;
    },
    allowBackward() {
      return this.currentGroupIndex > 0;
    },
    editable() {
      return this.setupItem.editable;
    },
    editableOptionComponent() {
      return this.editable ? EditableDetailOptionItem : DetailOptionItem;
    },
    addButtonVisible() {
      return this.editable && this.currentGroupIndex === this.detailOptions.length - 1;
    }
  },
  created() {
    EventBus.$on(EventType.RESIZE_BREAKPOINT, this.onBreakPointReach);
    EventBus.$on(EventType.RESIZE, this.onResize);
    this.onBreakPointReach(window.innerWidth);
  },
  beforeDestroy() {
    EventBus.$off(EventType.RESIZE, this.onResize);
    EventBus.$off(EventType.RESIZE_BREAKPOINT, this.onBreakPointReach);
  },
  methods: {
    prepareSliderData(options, prevOptions) {
      this.detailOptions = this.setupItem.options.reduce((acc, option, i) => {
        if (i % this.itemsPerGroup === 0) {
          acc.push([]);
        }

        acc[acc.length - 1].push(option);

        return acc;
      }, []);

      this.$nextTick(() => {
        const lastIndex = this.detailOptions.length - 1;
        if (Array.isArray(options) && this.editable) {
          if (Array.isArray(prevOptions) && prevOptions.length > options.length) {
            this.currentGroupIndex = Math.min(this.currentGroupIndex, lastIndex);
          } else if (!prevOptions) {
            this.currentGroupIndex = Math.max(this.currentGroupIndex, lastIndex);
          }
        } else {
          const foundGroupIndex = this.detailOptions.findIndex((group, i) => {
            return group.findIndex(option => option.selected) > -1;
          });
          this.currentGroupIndex = foundGroupIndex > -1 ? foundGroupIndex : 0;
        }

        this.onResize();
      });
    },
    changeCurrentGroupIndex(value) {
      if (value > 0 && this.allowForward) {
        this.currentGroupIndex++;
      }

      if (value < 0 && this.allowBackward) {
        this.currentGroupIndex--;
      }
    },
    onResize() {
      this.maxSliderWidth = document.documentElement.clientWidth;
    },
    onBreakPointReach(width) {
      const breakpointList = Object.keys(ITEMS_PER_GROUP_MAP).sort((a, b) => parseInt(b, 10) - parseInt(a, 10));
      const foundBreakpoint = breakpointList.find(breakpoint => breakpoint <= width);

      if (foundBreakpoint) {
        this.itemsPerGroup = ITEMS_PER_GROUP_MAP[foundBreakpoint];
        this.isMobileView = width < BreakPoint.MD;
      } else {
        this.itemsPerGroup = ITEMS_PER_GROUP_MAP[breakpointList[breakpointList.length - 1]];
      }
    },
    addOption() {
      let lastIndex = this.detailOptions.length - 1;
      if (this.itemsPerGroup === this.detailOptions[lastIndex].length) {
        this.currentGroupIndex = ++lastIndex;
      } else {
        this.currentGroupIndex = lastIndex;
      }

      this.$emit('add-option');
    },
    removeOption(item) {
      this.$emit('remove-option', item);
    },
    setSetupOption(optionId, editableData) {
      if (this.editable) {
        this.setEditableOption(optionId, editableData);
      } else {
        this.$emit('set-setup-option', optionId);
      }
    },
    setEditableOption(optionId, editableData) {
      const foundItemIndex = this.setupItem.options.findIndex(option => option.id === optionId);
      if (foundItemIndex > -1) {
        const options = [...this.setupItem.options];
        if (editableData) {
          options.splice(foundItemIndex, 1, editableData);
        } else {
          options.splice(foundItemIndex, 1);
        }
        this.$emit('set-setup-option', options);
      }
    },
    setOptionHint(label) {
      this.$emit('set-option-hint', label);
    }
  }
}
</script>;