<template>
  <div class="contact-page container row">
    <div class="contact-info">
      <div class="contact-info-item">
        <i class="icon-location"></i>
        <h3>{{ $t("page.contact.address") }}</h3>
        <p>Nyveien 1C</p>
        <p>1369 Stabekk</p>
      </div>
      <div class="contact-info-item">
        <i class="icon-envelop"></i>
        <h3>{{ $t("email") }}</h3>
        <a href="mailto:admin@glassverden.no">admin@glassverden.no</a>
      </div>
      <div class="contact-info-item">
        <i class="icon-phone"></i>
        <h3>{{ $t("phone") }}</h3>
        <a href="tel:+47 939 68 841">+47 939 68 841</a>
      </div>
      <div class="contact-info-item">
        <i class="icon-credit-card"></i>
        <h3>{{ $t("paymentData") }}</h3>
        <p>NO 918146636 MVA</p>
      </div>
    </div>
    <div class="contact-form">
      <div class="contact-form-data">
        <div class="contact-form-item">
          <input
            type="text"
            :placeholder="$t('page.contact.name')"
            v-model="name"
          />
          <span v-if="errors.name" class="input-error">{{
            $t(`page.contact.error.${errors.name}`)
          }}</span>
        </div>
        <div class="contact-form-item">
          <input type="text" :placeholder="$t('email')" v-model="mail" />
          <span v-if="errors.mail" class="input-error">{{
            $t(`page.contact.error.${errors.mail}`)
          }}</span>
        </div>
        <div class="contact-form-item">
          <input type="text" :placeholder="$t('phone')" v-model="phone" />
          <span v-if="errors.phone" class="input-error">{{
            $t(`page.contact.error.${errors.phone}`)
          }}</span>
        </div>
      </div>
      <div class="contact-form-message">
        <div class="contact-form-item message-item">
          <textarea
            :placeholder="$t('page.contact.messageContent')"
            v-model="content"
          ></textarea>
          <span v-if="errors.content" class="input-error">
            {{ $t(`page.contact.error.${errors.content}`) }}
          </span>
        </div>
        <div
          class="button"
          :class="{ 'in-progress': inProgress }"
          @click="sendMessage"
        >
          {{ $t("page.contact.sendMessage") }}
        </div>
      </div>
    </div>
    <transition name="fade">
      <modal :visible.sync="apiSuccess" success :timeout="3000">
        <template #body>
          {{ $t("page.contact.successMessage") }}
        </template>
      </modal>
    </transition>

    <transition name="fade">
      <modal :visible.sync="apiError" danger :timeout="3000">
        <template #body>
          {{ $t("page.contact.errorMessage") }}
        </template>
      </modal>
    </transition>
  </div>
</template>

<script>
import { ContactError } from '@/static';
import { ContactAdapter } from '@/libs/sdk';
import { getError } from '@/utils';
import { Modal } from '@/components';

const HIDE_POPUP_TIMEOUT = 3000;
export default {
  name: 'contact-page',
  components: {
    Modal
  },
  data() {
    return {
      contactAdapter: new ContactAdapter(),
      name: undefined,
      mail: undefined,
      phone: undefined,
      content: undefined,
      apiSuccess: false,
      apiError: false,
      inProgress: false,
      errors: {},
    }
  },
  beforeDestroy() {
    this.success = false;
  },
  methods: {
    sendMessage() {
      if (this.inProgress) {
        return;
      }

      this.inProgress = true;
      this.contactAdapter.create({
        name: this.name,
        mail: this.mail,
        phone: this.phone,
        content: this.content,
      })
        .then(() => {
          this.errors = {};
          this.apiSuccess = true;
          this.inProgress = false;
        })
        .catch(({ errors } = {}) => {
          this.inProgress = false;
          if (errors) {
            this.errors = errors.reduce((acc, error) => {
              return { ...acc, [error.field]: getError(ContactError, error) };
            }, {});
          } else {
            this.apiError = true;
          }
        });
    },
  }
};
</script>

