<template>
  <div class="home">
    <div class="banner-wrapper">
      <div class="banner-part" @click.capture.prevent="onUnavailableClick">
        <router-link
          :to="{
            name: 'railing-configurator',
            params: { type: railingType.RAILING_WITH_BAR }
          }"
        >
          <img src="static/images/banner-left.jpg" />
          <div class="banner-button">
            <span class="railing-type-name">{{ $t("railingTypeBar") }}</span>
            <span class="blinking-number">
              <i class="icon-phone"></i>
              +47 939 68 841
            </span>
          </div>
          <div class="start-project">{{ $t("startProject") }}</div>
        </router-link>
        <div class="unavailable-type">
          <p>
            <span>{{ $t("unavailableRailingTypeText") }}</span>
            <span class="blinking-number">
              <i class="icon-phone"></i>
              +47 939 68 841
            </span>
          </p>
        </div>
      </div>
      <div class="banner-part">
        <router-link
          :to="{
            name: 'railing-configurator',
            params: { type: railingType.RAILING_WITH_POSTS }
          }"
        >
          <img src="static/images/banner-middle.jpg" />
          <div class="banner-button">
            <span>{{ $t("railingTypePosts") }}</span>
          </div>
          <div class="start-project">{{ $t("startProject") }}</div>
        </router-link>
      </div>
      <div class="banner-part" @click.capture.prevent="onUnavailableClick">
        <router-link
          :to="{
            name: 'railing-configurator',
            params: { type: railingType.RAILING_WITH_ROTULES }
          }"
        >
          <img src="static/images/banner-right.jpg" />
          <div class="banner-button">
            <span class="railing-type-name">
              {{ $t("railingTypeRotules") }}
            </span>
            <span class="blinking-number">
              <i class="icon-phone"></i>
              +47 939 68 841
            </span>
          </div>
          <div class="start-project">{{ $t("startProject") }}</div>
        </router-link>
        <div class="unavailable-type">
          <p>
            <span>{{ $t("unavailableRailingTypeText") }}</span>
            <span class="blinking-number">
              <i class="icon-phone"></i>
              +47 939 68 841
            </span>
          </p>
        </div>
      </div>
    </div>
    <div class="steps-section container">
      <div class="steps">
        <div class="step-item">
          <i class="icon-pencil"></i>
          <span class="step-description">{{ $t("section.steps.step1") }}</span>
        </div>
        <i class="icon-arrow-right"></i>
        <div class="step-item">
          <i class="icon-eye"></i>
          <span class="step-description">{{ $t("section.steps.step2") }}</span>
        </div>
        <i class="icon-arrow-right"></i>
        <div class="step-item">
          <i class="icon-geometry"></i>
          <span class="step-description">{{ $t("section.steps.step3") }}</span>
        </div>
        <i class="icon-arrow-right"></i>
        <div class="step-item">
          <i class="icon-cart"></i>
          <span class="step-description">{{ $t("section.steps.step4") }}</span>
        </div>
        <i class="icon-arrow-right"></i>
        <div class="step-item">
          <i class="icon-wrench"></i>
          <span class="step-description">{{ $t("section.steps.step5") }}</span>
        </div>
      </div>
      <div class="start-button">
        <router-link
          :to="{
            name: 'railing-configurator',
            params: { type: defaultRailingType }
          }"
          >{{ $t("startProject") }}
        </router-link>
      </div>
    </div>
    <div class="section section-operating">
      <h1 class="title">{{ $t("section.operating.title") }}</h1>
      <div class="description">
        <h2>{{ $t("section.operating.header") }}</h2>
        <p>{{ $t("section.operating.description") }}</p>
      </div>
    </div>
    <div class="section section-design">
      <div class="description-wrapper">
        <h1 class="title">{{ $t("section.designAndBuy.title") }}</h1>
        <div class="description">
          <h2>{{ $t("section.designAndBuy.header") }}</h2>
          <p>{{ $t("section.designAndBuy.description") }}</p>
        </div>
      </div>
      <div class="section-image">
        <img src="static/images/configurator.jpg" />
      </div>
    </div>
    <div class="section section-last">
      <div class="description">
        <h2>{{ $t("section.last.header") }}</h2>
        <p>{{ $t("section.last.description") }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { SetupItemTypeName, DEFAULT_RAILING_TYPE } from '@/static';

const VISIBLE_NUMBER_CLASS = 'number-visible';

export default {
  data() {
    return {
      railingType: SetupItemTypeName,
      defaultRailingType: DEFAULT_RAILING_TYPE,
    }
  },
  methods: {
    onUnavailableClick(e) {
      const elementClassList = (e.target || e.srcElement).parentElement.classList;
      if (elementClassList.contains(VISIBLE_NUMBER_CLASS)) {
        elementClassList.remove(VISIBLE_NUMBER_CLASS);
      } else {
        elementClassList.add(VISIBLE_NUMBER_CLASS);
      }
    },
  }
};
</script>