<template>
  <div class="topbar container">
    <i ref="menuIcon" class="icon-menu" @click="onMenuIconClick"></i>
    <div class="logo-wrapper" @click="navigate">
      <img
        :class="['logo', { 'small-logo': isConfiguratorView }]"
        src="static/images/logo.jpg"
      />
    </div>
    <div :class="{ visible: mobileMenuVisible }" class="navbar">
      <router-link to="/" exact class="navbar-item">
        {{ $t("navbar.home") }}
      </router-link>
      <router-link to="projects" class="navbar-item">
        {{ $t("navbar.projects") }}
      </router-link>
      <router-link to="about" exact class="navbar-item">
        {{ $t("navbar.aboutCompany") }}
      </router-link>
      <router-link to="contact" class="navbar-item">
        {{ $t("navbar.contact") }}
      </router-link>
      <router-link
        :to="{
          name: 'railing-configurator',
          params: { type: defaultRailingType }
        }"
        class="navbar-item"
        @mousedown.native="handleStartProjectClick"
      >
        {{ $t(startProjectLabel) }}
      </router-link>
    </div>
    <i
      ref="languageIcon"
      class="language-switch language-flag active"
      :class="[currentLang]"
      @click="onLanguageIconClick"
    ></i>
    <div :class="{ visible: mobileLanguagesVisible }" class="languages">
      <a href="tel:+47 939 68 841">+47 939 68 841</a>
      <span
        :class="{ active: currentLang === 'no' }"
        class="language-flag no"
        @click="onLanguageChange('no')"
      ></span>
      <span
        :class="{ active: currentLang === 'en' }"
        class="language-flag en"
        @click="onLanguageChange('en')"
      ></span>
      <span
        :class="{ active: currentLang === 'pl' }"
        class="language-flag pl"
        @click="onLanguageChange('pl')"
      ></span>
    </div>
  </div>
</template>

<script>
import { BlurMixin } from '@mixins';
import { DEFAULT_RAILING_TYPE, RouteName, RAILING_TYPE_ID, ResourceName } from '@/static';
import { languageManager } from '@/libs';
import { localStorageManager, StorageKey } from '@/utils';

export default {
  name: 'top-bar',
  mixins: [BlurMixin],
  data() {
    return {
      mobileMenuVisible: false,
      mobileLanguagesVisible: false,
      currentLang: languageManager.current,
      railingResource: this.$services.get(ResourceName.RAILING_RESOURCE),
    }
  },

  computed: {
    defaultRailingType() {
      return this.railingResource.project.projectType || DEFAULT_RAILING_TYPE;
    },
    startProjectLabel() {
      if (this.isConfiguratorView) {
        return 'startNewProject';
      }

      return this.railingResource.project.projectType
        ? 'continueProject'
        : 'startProject';
    },
    isConfiguratorView() {
      return this.$route.name === RouteName.RAILING_CONFIGURATOR;
    },
  },

  methods: {
    navigate() {
      if (this.$route.name === RouteName.HOME) {
        return window.scrollTo({
          top: 0,
          behavior: "smooth"
        });
      }

      this.$router.push({ name: RouteName.HOME });
    },
    handleStartProjectClick(e) {
      if (this.isConfiguratorView) {
        e.preventDefault();
        this.railingResource.fetchAll(this.railingResource.project.projectType, this.isConfiguratorView);
      }
    },
    onBlur(target) {
      const { menuIcon, languageIcon } = this.$refs;
      if (this.mobileMenuVisible && target !== menuIcon) {
        this.mobileMenuVisible = false;
      }

      if (this.mobileLanguagesVisible && target !== languageIcon) {
        this.mobileLanguagesVisible = false;
      }
    },
    onMenuIconClick() {
      this.mobileMenuVisible = !this.mobileMenuVisible;
    },
    onLanguageIconClick() {
      this.mobileLanguagesVisible = !this.mobileLanguagesVisible;
    },
    onLanguageChange(lang) {
      languageManager.setLanguage(lang);
      this.currentLang = lang;
    },
  }
}
</script>