<template>
  <div class="about-page container">
    <div class="top-section">
      <div class="main-section">
        <img class="main-image" src="static/images/about-us.jpg" />
        <div class="description">
          <h1>{{ $t("whoWeAre.header") }}</h1>
          <h2>{{ $t("whoWeAre.paragraph1") }}</h2>
          <h2>{{ $t("whoWeAre.paragraph2") }}</h2>
        </div>
      </div>
      <div class="side-section">
        <h5>{{ $t("offer.header") }}</h5>
        <ul>
          <li>
            <i class="icon-checkmark"></i>
            <span>{{ $t("offer.point1") }}</span>
          </li>
          <li>
            <i class="icon-checkmark"></i>
            <span>{{ $t("offer.point2") }}</span>
          </li>
          <li>
            <i class="icon-checkmark"></i>
            <span>{{ $t("offer.point3") }}</span>
          </li>
          <li>
            <i class="icon-checkmark"></i>
            <span>{{ $t("offer.point4") }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'about-page',
  i18nOptions: { keyPrefix: 'page.about' },
};
</script>

