<template>
  <div class="projects-page">
    <photo-gallery :images="sectionImages.first" class="section">
      <div class="section-description">
        <h1 class="title">{{ $t("section.first.header") }}</h1>
        <p class="description">{{ $t("section.first.description") }}</p>
      </div>
    </photo-gallery>
    <photo-gallery :images="sectionImages.second" class="section">
      <div class="section-description">
        <h1 class="title">{{ $t("section.second.header") }}</h1>
        <p class="description">{{ $t("section.second.description") }}</p>
      </div>
    </photo-gallery>
    <photo-gallery :images="sectionImages.third" class="section">
      <div class="section-description">
        <h1 class="title">{{ $t("section.third.header") }}</h1>
        <p class="description">{{ $t("section.third.description") }}</p>
      </div>
    </photo-gallery>
  </div>
</template>

<script>
import { PhotoGallery } from '@components';
export default {
  name: 'projects-view',
  components: {
    PhotoGallery,
  },
  i18nOptions: { keyPrefix: 'page.projects' },
  data() {
    return {
      sectionImages: {
        first: [
          'gallery-1-1',
          'gallery-1-2',
          'gallery-1-3',
          'gallery-1-4',
          'gallery-1-5',
          'gallery-1-6',
          'gallery-1-7',
          'gallery-1-8',
        ],
        second: [
          'gallery-2-1',
          'gallery-2-2',
          'gallery-2-3',
          'gallery-2-4',
          'gallery-2-5',
          'gallery-2-6',
          'gallery-2-7',
          'gallery-2-8',
          'gallery-2-9',
          'gallery-2-10',
        ],
        third: [
          'gallery-3-1',
          'gallery-3-2',
          'gallery-3-3',
          'gallery-3-4',
        ],
      }
    }
  },

  methods: {

  }
}
</script>