h1 {
	margin-bottom: 1rem;
	font-size: 2rem;
	font-weight: 700;
}

h2 {
	margin-bottom: .5rem;
	font-size: 1.2rem;
	font-weight: 600;
}

.input-style {
	position: relative;
	width: 100%;
	max-width: 100%;
	min-width: 60%;
	padding: 8px 12px;
	border: none;
	border-radius: 12px;
	outline: none;
	color: $brand-primary-color;
	font-size: 1.1rem;
	font-family: $brand-font;
	box-sizing: border-box;
	z-index: 1;

	&::placeholder {
		color: inherit;
	}

	&::-ms-input-placeholder {
		color: inherit;
	}
}

.input-error {
	position: absolute;
	left: 50%;
	bottom: 0;
	padding: 6px 8px 4px;
	background: red;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: white;
	font-size: 13px;
	font-weight: 600;
	white-space: nowrap;
	letter-spacing: 1px;
	transform: translate(-50%, 90%);
	z-index: 0;
}

@include media-breakpoint-up(lg) {
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1.25rem;
	}
}

.container {
	@include make-container-paddings();
}

.fluid-container {
	@include make-fluid-container-paddings();
}

.row {
	@include make-row-paddings();
}

.uppercase {
	text-transform: uppercase;
}

.button {
	text-transform: uppercase;
	padding: 8px;
	background: $brand-orange-color;
	color: white;
	white-space: nowrap;
}

.skew-button {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: skew(-30deg);
	box-shadow: 3px 3px 6px black;

	span {
		text-align: center;
		padding: 12px;
		transform: skew(30deg);
	}
}

.section {
	@extend .container;
	@extend .row;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	box-sizing: border-box;
	line-height: 1.5;

	.title, .description {
		width: 100%;
	}

	.description {
		color: $brand-gray-color;
	}

	@include media-breakpoint-up(lg) {
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		text-align: left;

		h1 {
			font-size: 2.5rem;
			line-height: 1.5;
		}

		h2 {
			font-size: 1.25rem;
		}

		.title, .description {
			width: 50%;
		}
	}
}

@keyframes blinking {
	0% {
		opacity: .5
	}

	50% {
		opacity: 1
	}

	100% {
		opacity: .5
	}
}

.blinking-number {
	padding-top: 1rem;
	font-size: 1.2rem;
	font-weight: 600;
	animation: blinking 2s infinite;
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes rotating {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

.rotating {
	-webkit-animation: rotating 1s linear infinite;
	-moz-animation: rotating 1s linear infinite;
	-ms-animation: rotating 1s linear infinite;
	-o-animation: rotating 1s linear infinite;
	animation: rotating 1s linear infinite;
}