$icomoon-font-path: "../fonts/icons/fonts";
$images-path: "../images";

$brand-font: 'Open Sans', sans-serif;

$topbar-height: 80px;
$configurator-list-width-lg: 220px;
$configurator-list-width-xl: 260px;
$configurator-list-item-height: 50px;
$configurator-list-item-height-low-resolution: 39px;
$summary-bar: $configurator-list-item-height;
$summary-bar-low-resolution: $configurator-list-item-height-low-resolution;
$slider-min-height: 190px;
$slider-desktop-width: 220px;
$max-canvas-height: 580px;
$max-canvas-height-low-resolution: 504px;

$shadow-color: #535353;
$brand-primary-color: #0b758d;
$brand-primary-color-lighter: #0a86a2;
$brand-black-color: #020202;
$brand-orange-color: #f7941d;
$brand-gray-color: #859096;
$brand-green-color: #77D200;
$grey: #cfd3d4;
$modal-grey-color: #ccd6db;
$modal-black-color: #4a4949;
$dim-layer-color: rgba(0, 0, 0, .6);

$grid-breakpoints: (xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
) !default;

$container-paddings: (xs: 32px,
	sm: 48px,
	md: 64px,
	lg: 72px,
	xl: 128px,
) !default;

$fluid-container-paddings: (
	md: 16px,
	xl: 48px,
) !default;

$row-paddings: (xs: 5rem,
	sm: 5rem,
	md: 5rem,
	lg: 6rem,
	xl: 6rem,
) !default;