<template>
  <div class="summary-view container">
    <template v-if="railingResource.isFetched">
      <div
        v-if="orderCompleted"
        class="order-completed"
        :class="{ 'bottom-margin': !alreadyCompletedOrder }"
      >
        <i class="icon icon-checkmark"></i>
        <h2>{{ $t("page.summary.orderCompletedHeader") }}</h2>
        <p>{{ $t("page.summary.orderCompletedDescription") }}</p>
        <div class="order-completed-buttons">
          <router-link to="/" class="button">
            {{ $t("page.summary.goToHomePage") }}
          </router-link>
          {{ $t("page.summary.or") }}
          <router-link
            :to="{
              name: 'railing-configurator',
              params: { forceNewProject: true }
            }"
            class="button"
          >
            {{ $t("startNewProject") }}
          </router-link>
        </div>
      </div>
      <template v-if="!alreadyCompletedOrder">
        <div class="order-summary">
          <div class="summary-info">
            <div class="price-button">
              <span>
                <strong>
                  {{ $t("price") }}: {{ railingResource.project.grossPrice }} kr
                </strong>
              </span>
            </div>
            <div>
              <strong>{{ $t("deliveryTime") }}:</strong> 10.12.2019
            </div>
          </div>
          <div class="customer-data">
            <h2>{{ $t("page.summary.orderDataHeader") }}</h2>
            <div class="order-form">
              <div class="order-form-item">
                <input
                  type="text"
                  :placeholder="$t('page.summary.name')"
                  :disabled="orderCompleted"
                  v-model="contact.name"
                />
                <span v-if="errors.name" class="input-error">{{
                  $t(`page.summary.error.${errors.name}`)
                }}</span>
              </div>
              <div class="order-form-item">
                <input
                  type="text"
                  :placeholder="$t('page.summary.surname')"
                  :disabled="orderCompleted"
                  v-model="contact.surname"
                />
                <span v-if="errors.surname" class="input-error">{{
                  $t(`page.summary.error.${errors.surname}`)
                }}</span>
              </div>
              <div class="order-form-item">
                <input
                  type="text"
                  :placeholder="$t('email')"
                  :disabled="orderCompleted"
                  v-model="contact.email"
                />
                <span v-if="errors.email" class="input-error">{{
                  $t(`page.summary.error.${errors.email}`)
                }}</span>
              </div>
              <div class="order-form-item">
                <input
                  type="text"
                  :placeholder="$t('phone')"
                  :disabled="orderCompleted"
                  v-model="contact.phone"
                />
                <span v-if="errors.phone" class="input-error">{{
                  $t(`page.summary.error.${errors.phone}`)
                }}</span>
              </div>
              <div class="order-form-item">
                <input
                  type="text"
                  :placeholder="$t('page.summary.postalCode')"
                  :disabled="orderCompleted"
                  v-model="contact.postalCode"
                />
                <span v-if="errors.postalCode" class="input-error">{{
                  $t(`page.summary.error.${errors.postalCode}`)
                }}</span>
              </div>
              <div class="order-form-item">
                <input
                  type="text"
                  :placeholder="$t('page.summary.city')"
                  :disabled="orderCompleted"
                  v-model="contact.city"
                />
                <span v-if="errors.city" class="input-error">{{
                  $t(`page.summary.error.${errors.city}`)
                }}</span>
              </div>
              <div class="order-form-item">
                <input
                  type="text"
                  :placeholder="$t('page.summary.street')"
                  :disabled="orderCompleted"
                  v-model="contact.street"
                />
                <span v-if="errors.street" class="input-error">{{
                  $t(`page.summary.error.${errors.street}`)
                }}</span>
              </div>
              <div class="order-form-item">
                <input
                  type="text"
                  :placeholder="$t('page.summary.flatNumber')"
                  :disabled="orderCompleted"
                  v-model="contact.flatNumber"
                />
                <span v-if="errors.flatNumber" class="input-error">{{
                  $t(`page.summary.error.${errors.flatNumber}`)
                }}</span>
              </div>
            </div>
            <div
              class="order-button"
              :class="{
                'in-progress': inProgress || railingResource.project.isCompleted
              }"
              @click="onOrderClick"
            >
              {{ $t("page.summary.order") }}
            </div>
          </div>
        </div>
        <div v-if="projectExists" class="project-summary">
          <h2>{{ $t("page.summary.projectSummaryHeader") }}</h2>
          <div class="project-summary-body">
            <div class="other-params">
              <div
                v-for="item in projectSummary"
                :key="item.id"
                class="project-summary-item"
              >
                {{ $t(`page.railingConfigurator.${item.label}.label`) }}:
                <strong>
                  {{
                    $t(
                      `page.railingConfigurator.${item.label}.option.${item.optionLabel}`
                    )
                  }}
                </strong>
              </div>
            </div>
            <div class="edges-params">
              <div class="edges-header">
                <span>
                  <strong>{{ $t("page.summary.no") }}</strong>
                </span>
                <span>
                  <strong>{{
                    $t("page.railingConfigurator.segmentsNumber.label")
                  }}</strong>
                </span>
                <span>
                  <strong>{{
                    $t("page.railingConfigurator.length.label")
                  }}</strong>
                </span>
                <span>
                  <strong>{{
                    $t("page.railingConfigurator.angle.label")
                  }}</strong>
                </span>
              </div>
              <div
                v-for="(edge, i) in edgesSummary"
                :key="i"
                class="edges-item"
              >
                <span>{{ i + 1 }}</span>
                <span>{{ edge.segmentsNumber }}</span>
                <span>{{ edge.length }}</span>
                <span>{{ edge.angle || "-" }}</span>
              </div>
            </div>
          </div>
        </div>
      </template>
    </template>
    <div v-if="!projectExists" class="empty-project">
      <h2>{{ $t("page.summary.emptyProject") }}</h2>
      <router-link to="/configurator" class="button">
        {{ $t("startProject") }}
      </router-link>
    </div>
    <transition name="fade">
      <modal :visible.sync="apiError" danger :timeout="3000">
        <template #body>
          {{ $t("page.contact.errorMessage") }}
        </template>
      </modal>
    </transition>
  </div>
</template>

<script>
import RailingResource from '@/store/railing-store';
import { ResourceName, SetupItemName, ContactError } from '@/static';
import { localStorageManager, StorageKey, getError } from '@/utils';
import { Transaction } from '@/libs/sdk';
import { Modal } from '@/components';

export default {
  name: 'summary-view',
  components: {
    Modal,
  },
  data() {
    return {
      transactionAdapter: new Transaction(),
      railingResource: this.$services.get(ResourceName.RAILING_RESOURCE),
      store: undefined,
      projectExists: true,
      projectSummary: [],
      edgesSummary: [],
      errors: {},
      inProgress: false,
      apiError: false,
      orderCompleted: false,
      alreadyCompletedOrder: false,
      contact: {
        city: '',
        flatNumber: '',
        email: '',
        name: '',
        phone: '',
        postalCode: '',
        street: '',
        surname: '',
      }
    }
  },
  created() {
    if (!localStorageManager.getItem(StorageKey.PROJECT_CODE)) {
      this.projectExists = false;
      return;
    }

    this.store = this.railingResource.store;
    if (this.railingResource.isFetched) {
      this.orderCompleted = this.railingResource.project.isCompleted;
      this.prepareProjectSummary();
      this.contact = { ...this.contact, ...this.railingResource.project.contact };
    } else {
      this.railingResource.fetchAll()
        .then(() => {
          const { contact, isCompleted } = this.railingResource.project;
          this.orderCompleted = isCompleted;
          this.contact = { ...this.contact, ...contact };
        })
        .then(this.prepareProjectSummary);
    }
  },
  methods: {
    prepareProjectSummary() {
      this.projectSummary = this.store.setupList.map((setupItem) => {
        const selectedItemId = this.store.setup[setupItem.id].optionId;
        const foundItem = setupItem.options.find(item => item.id === selectedItemId);

        if (foundItem) {
          return { label: setupItem.name, optionLabel: foundItem.label };
        }
      }).filter(Boolean);

      this.edgesSummary = this.store.setup[SetupItemName.EDGES].optionId;
    },
    onOrderClick() {
      if (this.inProgress || this.railingResource.project.isCompleted) {
        return;
      }

      this.inProgress = true;
      this.transactionAdapter.create(this.railingResource.project.code, this.contact)
        .then(() => {
          this.errors = {};
          this.inProgress = false;
          this.orderCompleted = true;
          this.alreadyCompletedOrder = true;
          window.scrollTo(0, 0);
        })
        .catch(({ errors } = {}) => {
          this.inProgress = false;
          if (errors) {
            this.errors = errors.reduce((acc, error) => {
              return { ...acc, [error.field]: getError(ContactError, error) };
            }, {});
          } else {
            this.apiError = true;
          }
        });
    },
  }
}
</script>