$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-question: "\e900";
$icon-pencil: "\e905";
$icon-cart: "\e93a";
$icon-wrench: "\e991";
$icon-eye: "\e9ce";
$icon-geometry: "\eae8";
$icon-credit-card: "\e93f";
$icon-phone: "\e942";
$icon-envelop: "\e945";
$icon-location: "\e947";
$icon-menu: "\e9bd";
$icon-arrow-right: "\ea3c";
$icon-facebook: "\ea91";
$icon-cancel-circle: "\ea0d";
$icon-checkmark: "\ea10";
$icon-plus: "\ea0a";
$icon-cross: "\ea0f";
$icon-spinner: "\e97b";

