.about-page {
	line-height: 1.5rem;

	.top-section {
		position: relative;
		display: flex;
		flex-direction: column;
		margin: 2rem 0;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			display: inline-block;
			width: 94%;
			margin: auto;
			z-index: -1;
		}
	}

	.main-image {
		width: 100%;
		margin-bottom: 3rem;

		img {
			max-width: 100%;
		}
	}

	.main-section {
		padding-bottom: 2rem;
		background: white;
	}

	.description {
		padding: 0 1rem;
		h1 {
			font-size: 2rem;
		}

		h2 {
			margin: 1rem 0;
			font-size: 1rem;
			font-weight: 100;
			color: $brand-gray-color;
		}
	}

	.side-section {
		padding: 0 1rem 4rem;
		align-self: stretch;
		background: white;

		h5 {
			margin-bottom: 1rem;
			font-size: 1.2rem;
			font-weight: 600;
		}

		ul {
			padding: 0 6px;
			color: $brand-gray-color;
		}

		li {
			display: flex;
			align-items: center;
			margin-bottom: 6px;
		}

		i {
			color: $brand-green-color;
			margin-right: 8px;
		}
	}

	@include media-breakpoint-up(lg) {
		.top-section {
			flex-direction: row;
			margin-top: 4rem
		}

		.main-section {
			width: 80%;
			padding-bottom: 4rem;
			background: white;
		}

		.side-section {
			width: 20%;
			padding: 0 1rem 0 2rem;
		}
	}
}