html {
	font-size: 16px;
	font-family: $brand-font;
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 

	@include media-breakpoint-down(sm) {
		font-size: 14px;
	}
}

body {
	color: $brand-primary-color;
}

a {
	color: $brand-primary-color;
	text-decoration: none;
}