.contact-page {
	@include fade-popup();

	position: relative;
	display: flex;
	flex-direction: column;
	background: $brand-primary-color-lighter;
	font-size: 1rem;

	.contact-info {
		display: flex;
		flex-direction: column;

		@include media-breakpoint-up(lg) {
			flex-direction: row;
			justify-content: space-around;
		}
	}

	.contact-info-item {
		text-align: center;
		color: white;

		h3 {
			margin: 2rem 0 1rem;
			font-weight: 600;
		}

		a {
			display: inline-block;
			color: white;
			
			&:last-child() {
				margin-bottom: 3rem;
			}
		}

		i {
			padding: 12px;
			margin: 1rem;
			background: white;
			color: $brand-primary-color;
			font-size: 2rem;
			border-radius: 4rem;
		}

		p {
			line-height: 1.5;

			&:last-child() {
				margin-bottom: 3rem;
			}
		}
	}

	.contact-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 4rem;

		input, textarea {
			@extend .input-style;
		}

		textarea {
			min-height: 150px;
		}

		.contact-form-data, .contact-form-message {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 180px;
			width: 100%;
		}

		.contact-form-data {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}

		.contact-form-message {
			text-align: center;
			box-sizing: content-box;
		}

		.contact-form-item {
			position: relative;
			width: 90%;
			max-width: 90%;
			min-width: 60%;
		}

		.message-item {
			margin: 2rem 0;
		}

		.button {
			margin-top: 2rem;
			cursor: pointer;

			&.in-progress {
				background: $brand-gray-color;
				cursor: not-allowed;
			}
		}

		.input-error {
			@extend .input-error;
		}

		@include media-breakpoint-up(sm) {
			flex-wrap: wrap;

			.contact-form-data, .contact-form-message {
				width: 80%;
			}
		}

		@include media-breakpoint-up(lg) {
			flex-direction: row;
			justify-content: space-around;

			textarea {
				height: 180px;
			}

			.message-item {
				margin: 0;
			}

			.contact-form-data, .contact-form-message {
				width: 50%;
			}
		}

		@include media-breakpoint-up(xl) {
			.contact-form-data, .contact-form-message {
				width: 40%;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		&.row {
			padding-top: 9rem;
			padding-bottom: 9rem;
		}
	}
}