.footer {
	position: relative;
	display: flex;
	flex-direction: column;
	height: auto;
	padding-top: 24px;
	padding-bottom: 24px;
	background: $brand-primary-color;
	color: white;
	align-items: center;
	line-height: 18px;

	a {
		color: white;
	}

	.logo-wrapper {
		position: absolute;
		top: 0;
		left: 5%;
		height: 60px;

		img {
			height: 100%;
		}
	}

	.column-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 2rem 0;

		.navbar-items {
			display: none;
		}
	}

	.footer-column {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 12px;

		* {
			margin-bottom: 6px;
			line-height: 1.5rem;

			&:first-child {
				font-weight: 600;
			}
		}
	}

	.icon-facebook {
		cursor: pointer;
		font-size: 1.5rem;
	}

	.copyright {
		padding-top: 24px;
		border-top: 1px solid white;
		font-size: .8rem;
		text-align: center;
	}

	@include media-breakpoint-up(md) {
		padding-left: 20%;
		padding-right: 20%;
	}

	@include media-breakpoint-up(lg) {
		.logo-wrapper {
			height: 90px;
		}

		.column-wrapper {
			flex-direction: row;
			justify-content: space-between;

			.navbar-items {
				display: flex;
			}
		}

		.footer-column {
			margin-top: 0;
		}

		.icon-facebook {
			align-self: flex-start;
		}

		.copyright {
			align-self: stretch;
		}
	}

	@include media-breakpoint-up(xl) {
		padding-left: 25%;
		padding-right: 25%;
	}
}