.home {
	.banner-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
		height: calc(100vh - #{$topbar-height});
		background-image: url(#{$images-path}/banner-left.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		.banner-part {
			position: relative;
			padding: 0 2rem;

			a {
				display: inline-flex;
			}

			img {
				display: none;
			}

			&:nth-child(2) {
				align-self: center;
			}

			&:nth-child(3) {
				align-self: flex-end;
			}
		}

		.banner-button {
			@extend .skew-button;

			width: 200px;
			height: 60px;
			background: $brand-orange-color;
			color: white;
			font-size: 1.1rem;
			font-weight: 900;
		}

		.start-project {
			@extend .button;

			display: none;
		}

		.unavailable-type {
			display: none;
		}

		.blinking-number {
			@extend .blinking-number;
			
			display: none;
		}

		.number-visible {
			.blinking-number {
				display: block;
			}

			.railing-type-name {
				display: none;
			}
		}

		@include media-breakpoint-up(md) {
			height: calc(100vh - #{$topbar-height});
		}

		@include media-breakpoint-up(lg) {
			flex-direction: row;
			background-image: none;

			.banner-part {
				width: 100%;
				height: 100%;
				padding: 0;
				cursor: pointer;

				a {
					justify-content: center;
					align-self: flex-end;
					width: 100%;
					height: 100%;
				}

				img {
					position: absolute;
					top: 0;
					display: block;
					height: 100%;
					width: 100%;
				}

				.blinking-number {
					display: none;
				}

				.railing-type-name {
					display: block;
				}

				&:nth-child(2) {
					align-self: flex-end;
				}

				&:hover {
					.banner-button {
						background: $brand-orange-color;

						&+div {
							display: block;
						}
					}

					.unavailable-type {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						background: $dim-layer-color;
						cursor: auto;

						p {
							padding: 1rem;
							color: white;
							text-align: center;
							text-shadow: 2px 2px 2px black;

							span {
								display: block;
							}
						}


						.blinking-number {
							display: block;
						}
					}
				}
			}

			.banner-button {
				position: absolute;
				top: 80%;
				background: black;
				transform: skew(-30deg) translateY(-50%);
			}

			.start-project {
				position: absolute;
				top: 90%;
				right: 0;
				width: 240px;
				padding-right: 16px;
				background: $brand-orange-color;
				color: white;
				text-align: right;


				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: -10px;
					height: 100%;
					width: 50px;
					background: inherit;
					transform: skew(-30deg);
				}
			}
		}
	}

	.steps-section {
		display: flex;
		flex-direction: column;
		justify-content: center;

		i {
			position: relative;
			font-size: 2rem;

			&:not([class^=icon-arrow]) {
				font-size: 2.2rem;
				color: $brand-primary-color;
				border: 2px solid $brand-primary-color;
				padding: 18px;
				border-radius: 4rem;
			}

			&[class^=icon-arrow] {
				transform: rotateZ(90deg);
			}
		}

		.steps {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 32px 0 24px;

			.step-item {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				margin: 8px;
			}

			.step-description {
				width: 50%;
				margin-left: 12px;
				font-size: 1.2rem;
			}

			@include media-breakpoint-up(sm) {
				.step-description {
					font-size: 1.4rem;
				}
			}

			@include media-breakpoint-up(md) {
				flex-direction: row;

				i {
					font-size: 2rem;
					transform: rotateZ(0);

					&:not([class^=icon-arrow]) {
						font-size: 3.75rem;
					}
				}

				.step-item {
					width: auto;
					margin: 0 16px;
				}

				.step-description {
					display: none;
				}
			}
		}

		.start-button {
			align-self: center;
			margin: 24px 0 32px;

			a {
				@extend .button;
				letter-spacing: 2px;

				&:last-child {
					padding-left: 16px;
					padding-right: 16px;
				}
			}

			@include media-breakpoint-up(md) {
				align-self: flex-end;
			}
		}

		@include media-breakpoint-up(md) {
			padding-top: 6rem;
			padding-bottom: 6rem;
		}
	}

	.section-operating, .section-last {
		width: 100%;
		background-image: url(#{$images-path}/middle-section.jpg);
	}

	.section-operating {

		h1, .description {
			color: white;
		}
	}

	.section-design {
		display: flex;
		flex-direction: column;
		align-items: center;

		.description-wrapper, .title, .description {
			width: 100%;
		}

		.section-image {
			align-self: center;
			width: 100%;
			margin: 2em 0;

			img {
				width: 100%;
			}
		}

		@include media-breakpoint-up(lg) {
			flex-direction: row;
			align-items: flex-start;

			.description-wrapper {
				width: 50%;
			}

			.section-image {
				width: 50%;
				margin: 0;
			}
		}
	}

	.section-last {
		justify-content: flex-start;
		padding-top: 0;
		padding-bottom: 0;
		background-image: url(#{$images-path}/last-section.jpg);
		height: 60vh;

		.description {
			padding: 0 1em 1em;
			background: white;
			box-sizing: border-box;
		}

		@include media-breakpoint-up(lg) {
			justify-content: flex-end;

			.description {
				width: 50%;
			}
		}
	}
}