.modal {
	position: fixed;
	top: 10%;
	left: 2rem;
	right: 2rem;
	display: flex;
	flex-direction: column;
	margin: auto;
	color: $modal-black-color;
	background: greenyellow;
	background: white;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 1px 3px 6px 1px $shadow-color;
	z-index: 9999;

	&>i {
		position: absolute;
		top: 0;
		right: 0;
		padding: 1rem;
		cursor: pointer;
		z-index: 1;
	}

	.modal-header {
		position: relative;
		width: 100%;
		padding: 1rem;
		background: $modal-grey-color;
		font-size: 1.2rem;
		font-weight: 600;
		text-align: center;
		box-sizing: border-box;

		i {
			position: absolute;
			top: 50%;
			left: 1rem;
			transform: translateY(-50%);
		}
	}

	.danger, .success {
		color: red;
		padding: 8px;
		border: 2px solid red;
		border-radius: 50%;
	}

	.success {
		color: $brand-green-color;
		border-color: $brand-green-color;
	}

	.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
		width: 100%;
		padding: 1rem 2rem;
		font-weight: 200;
		text-align: center;
		box-sizing: border-box;

		i {
			display: inline-block;
			margin-top: 1rem;
		}
	}

	@include media-breakpoint-up(sm) {
		left: 5rem;
		right: 5rem;
	}

	@include media-breakpoint-up(md) {
		left: 0;
		right: 0;
		width: 640px;
	}
}