.projects-page {
	img {
		cursor: pointer;
	}

	.section {
		&:nth-child(even) {
			background: $brand-primary-color;

			.title, .description {
				color: white;
			}
		}
	}
}

.section-description, .section-photos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}



.section-photos {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.large-photo {
	display: flex;
	align-items: center;
	max-width: 100%;
	height: 30vh;
	max-height: 30vh;
	margin-top: 2rem;

	img {
		max-width: 100%;
		max-height: inherit;
	}
}

.thumbnails-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1rem;
}

.thumbnail {
	width: 70px;
	height: 70px;
	margin: 2px;
	border-radius: 8px;
}

@include media-breakpoint-up(lg) {
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	text-align: left;

	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1.25rem;
	}

	.section {
		&:nth-child(even) {
			.section-photos {
				order: -1;
			}

			.section-description {
				align-items: flex-end;
			}
		}

		.title, .description {
			width: 90%;
		}
	}

	.thumbnails-wrapper {
		margin-top: 2rem;
	}

	.thumbnail {
		width: 80px;
		height: 80px;
	}
}