.railing-configurator {
	@include fade-popup();

	min-height: 80vh;
	padding-top: 8px;

	.railing-canvas {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		max-height: 50vh;
		cursor: grab;

		&:active {
			cursor: grabbing;
		}
	}

	.railing-visualizator-wrapper {
		position: relative;
		display: inline-block;
		width: 100%;
		height: 100%;
	}

	.configurator {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.icon-spinner {
		@extend .rotating;

		position: fixed;
		top: 40%;
		left: calc(50% - 48px);
		color: $brand-orange-color;
		font-size: 84px;
		z-index: 999;
	}

	.vizualizator-wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		width: 100%;
	}

	.summary-bar {
		position: relative;
		height: $summary-bar;
		min-height: $summary-bar;
		width: 100%;
		background: $brand-primary-color-lighter;
		z-index: 10;
	}

	.railing-type-list {
		display: none;
	}

	.railing-type-items-wrapper {
		display: none;
	}

	.railing-type-button, .price-button {
		@extend .skew-button;

		width: 150px;
		height: $summary-bar + 12px;
		margin: -3px 0 6px 24px;
		background: white;
		color: $brand-orange-color;
		font-size: 1.1rem;
		font-weight: 900;
		cursor: pointer;

		&.active, &:hover {
			background: $brand-orange-color;
			color: white;
		}
	}

	.order-items-wrapper {
		display: flex;
		justify-content: space-between;
		height: 100%;
	}

	.price-button {
		background: $brand-orange-color;
		color: white;
		cursor: auto;
		flex-direction: column;

		.price-description {
			font-size: 0.5em;
		}

		span {
			padding: 2px;
		}
	}

	.order-button {
		position: relative;
		align-self: center;
		margin: 0 2rem;
		color: white;
		font-size: 1.1rem;
		text-transform: uppercase;
		cursor: pointer;

		span {
			margin-right: .5rem;
		}

		i {
			position: absolute;
		}
	}

	.config-hint {
		position: absolute;
		width: 100%;
		top: $summary-bar + 2px;
		padding: 1.5rem 3rem;
		background: $brand-black-color;
		color: $brand-orange-color;
		font-size: .9rem;
		box-sizing: border-box;
		box-shadow: 2px 2px 6px $brand-black-color;
		z-index: 9;

		i {
			position: absolute;
			top: 50%;
			right: 1rem;
			font-size: 2rem;
			transform: translateY(-50%);
			cursor: pointer;
		}
	}

	.configurator-list {
		position: relative;
		display: flex;
		flex-direction: column;
		height: 100%;
		color: white;
		z-index: 1;
	}

	.configurable-item {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 3px;
		background: $brand-primary-color-lighter;
		cursor: pointer;

		&.active {
			background: $brand-black-color;
		}

		.item-label {
			position: absolute;
			top: 50%;
			max-width: 60%;
			transform: translateY(-50%);
		}

		.item-section-header {
			position: relative;
			display: flex;
			justify-content: center;
			width: 100%;
			height: $configurator-list-item-height;
			text-align: center;

			i {
				position: absolute;
				top: 50%;
				right: 18px;
				font-size: 1.2rem;
				box-sizing: border-box;
				transform: translateY(-50%);
			}
		}
	}

	.item-section-detail {
		position: relative;
		width: 100%;
		margin-bottom: 0;
		background: white;
		color: $brand-primary-color-lighter;
	}

	.detail-options-wrapper {
		display: flex;
		min-height: $slider-min-height;
		width: 100%;
		overflow: hidden;
	}

	.detail-options-group {
		display: flex;
		flex-shrink: 0;
		justify-content: center;
		align-items: center;
		margin: 12px 0;
		width: 100%;
		transition: transform .5s ease-in-out;
		box-sizing: border-box;
	}

	.detail-option-item {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem 1rem;
		margin: 0 .5rem;
		border: 3px solid transparent;
		box-shadow: 1px 1px 4px #535353;

		&.active {
			border: 3px solid $brand-primary-color;
		}

		img {
			max-width: 65%;
			max-height: 180px;
			margin-bottom: 2rem;
		}

		.icon-cross, .item-number, .icon-question {
			position: absolute;
			top: 0;
			right: 0;
			padding: 4px;
			border: 1px solid red;
			border-radius: 14px;
			background: white;
			color: red;
			font-size: 1rem;
			transform: translate(40%, -40%);
			cursor: pointer;
		}

		.icon-question {
			padding: 0;
			margin: 4px;
			color: $brand-primary-color;
			border: none;
			font-size: 1.2rem;
			transform: none;
		}

		.item-number {
			display: flex;
			justify-content: center;
			left: 0;
			right: auto;
			height: 1rem;
			width: 1rem;
			color: $brand-primary-color;
			border-color: $brand-primary-color;
			font-weight: 700;
			transform: translate(-40%, -40%);
		}

		&.editable {
			display: flex;
			flex-direction: column;
			max-height: 180px;
			font-size: 0.9rem;
			border-color: transparent;

			input {
				margin: .3rem 0 .6rem;
				padding: 4px;
			}
		}
	}

	.detail-option-label {
		position: absolute;
		bottom: .5rem;
		font-size: 1.1rem;
	}

	.left-arrow, .right-arrow {
		position: absolute;
		top: 50%;
		font-size: 2rem;
		transform: translateY(-50%);
		cursor: pointer;
	}

	.left-arrow {
		left: .5rem;
		transform: translateY(-50%) rotate(180deg);
	}

	.right-arrow {
		right: .5rem;
	}

	&.low-resolution {
		.detail-option-item {
			margin: .35rem 0;

			.icon-cross, .item-number, .icon-question {
				width: .75rem;
				height: .75rem;
				font-size: .75rem;
			}

			&:first-child {
				margin-top: 0;
			}

			&.editable input {
				margin: .2rem 0 .3rem;
				padding: 1px 2px;
			}
		}
	}

	@include media-breakpoint-up(md) {
		.detail-options-group {
			justify-content: space-around;
		}

		.detail-option-label {
			font-size: 1rem;
		}

		.left-arrow {
			left: 1rem;
		}

		.right-arrow {
			right: 1rem;
		}
	}

	@include media-breakpoint-up(lg) {
		.railing-canvas {
			max-height: $max-canvas-height;
		}

		.configurator {
			flex-direction: row;
			justify-content: space-between;
		}

		.vizualizator-wrapper {
			flex-direction: column;
			width: calc(100% - #{$configurator-list-width-lg} - #{$slider-desktop-width});
			margin-right: auto;
		}

		.summary-bar {
			width: calc(100% - 3px);
		}

		.railing-type-list {
			position: absolute;
			display: block;
			height: $summary-bar;

			&:hover {
				height: auto;

				.railing-type-items-wrapper {
					display: block;
					height: 100%;
				}
			}
		}

		.railing-type-items-wrapper {
			display: none;
		}

		.railing-type-button, .price-button {
			margin-left: 20px;
			font-size: 1.1rem;
		}

		.railing-type-button {
			.blinking-number {
				display: none;
				font-size: 1rem;
			}

			&:hover {
				.railing-type-name {
					display: none;
				}

				.blinking-number {
					display: block;
				}
			}
		}

		.order-items-wrapper {
			position: absolute;
			right: 0;
		}

		.config-hint {
			i {
				top: .5rem;
				right: .5rem;
				font-size: 2rem;
				transform: none;
			}
		}

		.configurator-list {
			justify-content: center;
			order: -1;
			width: $configurator-list-width-lg;
			margin-bottom: 64px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				display: block;
				width: 100%;
				height: calc(100%);
				background: $brand-black-color;
				transform: translate(24px, 0);
			}
		}

		.configurable-item {
			&:hover {
				background: $brand-black-color;
			}

			i {
				right: 16px;
				font-size: 1rem;
			}

			.item-section-header {
				justify-content: flex-start;
				text-align: left;
				font-size: .95rem;
			}

			.item-label {
				max-width: 75%;
				padding-left: 18px;
			}
		}

		.detail-options-group {
			flex-direction: column;
			justify-content: flex-start;
			margin-top: $configurator-list-item-height;
		}

		.item-section-detail {
			position: relative;
			width: unset;
			width: $slider-desktop-width;
			padding-top: 0;

			.slider-controls {
				position: absolute;
				top: 0;
				display: flex;
				height: $configurator-list-item-height;
				width: 100%;

				.navigation, .add-button {
					position: relative;
					width: 35%;
					height: 100%;
				}

				.add-button {
					width: 65%;
				}

				.left-arrow, .right-arrow {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					cursor: pointer;

					&.disabled {
						color: $grey;
						cursor: not-allowed;
					}
				}

				.left-arrow {
					left: 4px;
					transform: translateY(-50%) rotate(180deg);
				}

				.right-arrow {
					right: 0;
				}
			}
		}

		.detail-option-item {
			margin: .5rem 0;
			padding: .5rem;
			border: 3px solid transparent;

			&:not(.editable) {
				cursor: pointer;

				&:hover {
					border: 3px solid $brand-primary-color;
				}
			}
		}

		.detail-option-label {
			bottom: 1rem;
			font-size: 1.1rem;
		}

		.left-arrow {
			left: -2rem;
		}

		.right-arrow {
			right: -2rem;
		}

		&.low-resolution {
			.railing-canvas {
				max-height: $max-canvas-height-low-resolution - $configurator-list-item-height-low-resolution;
			}

			.detail-options-group {
				margin-top: $configurator-list-item-height-low-resolution;
			}

			.detail-option-item {
				padding: .25rem .5rem;

				img {
					margin-bottom: 1rem;
				}

				.detail-option-label {
					font-size: .8rem;
					bottom: .3rem;
				}
			}

			.slider-controls {
				height: $configurator-list-item-height-low-resolution;
			}

			.left-arrow, .right-arrow {
				font-size: 1.4rem;
			}


			.item-section-header {
				height: $configurator-list-item-height-low-resolution;
			}

			.summary-bar, .railing-type-list {
				height: $summary-bar-low-resolution;
				min-height: $summary-bar-low-resolution;
			}

			.railing-type-button, .price-button {
				height: $summary-bar-low-resolution + 8px;
			}
		}
	}

	@include media-breakpoint-up(xl) {
		.vizualizator-wrapper {
			width: calc(100% - #{$configurator-list-width-xl} - #{$slider-desktop-width});
		}

		.summary-bar, .railing-type-list {
			height: $summary-bar;
		}

		.configurator-list {
			width: $configurator-list-width-xl;
		}

		.railing-type-button, .price-button {
			width: 180px;
			margin-left: 32px;
		}

		.configurable-item {
			.item-section-header {
				font-size: 1rem;

				i {
					right: 20px;
					font-size: 1.4rem;
				}
			}

			.item-label {
				padding-left: 24px;
			}
		}

		.order-button {
			margin: 0 3rem;
		}

		.config-hint {
			top: $summary-bar + 2px;
		}
	}
}