.summary-view {
	@include fade-popup();

	display: flex;
	flex-direction: column;
	padding-top: 3em;
	padding-bottom: 3em;
	background: $brand-primary-color-lighter;
	color: white;
	min-height: calc(100vh - 355px);
	box-sizing: border-box;

	strong {
		font-weight: 700;
	}

	h2 {
		font-size: 1.5rem;
	}

	.empty-project, .order-completed {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto;
		text-align: center;

		h2 {
			margin-bottom: 2rem;
		}

		.button {
			min-width: 160px;
		}
	}
	
	.order-completed {
		&.bottom-margin {
			margin-bottom: 5rem;
		}
	}

	.icon-checkmark {
		margin-bottom: 2rem;
		padding: 8px;
		color: $brand-green-color;
		border: 2px solid $brand-green-color;
		border-radius: 50%;
		font-size: 2.5rem;
	}

	.order-completed-buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 2rem;

		.button {
			margin: .75rem 1rem;
		}
	}

	.order-summary {
		display: flex;
		flex-direction: column;
	}

	.summary-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		box-sizing: border-box;

		div, h4 {
			margin: .5rem 0;
		}

		span {
			margin-bottom: .25rem;
		}
	}

	.price-button {
		@extend .skew-button;

		background: $brand-orange-color;
	}

	.payment-data {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	.customer-data {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 4rem;

		input, textarea {
			@extend .input-style;
		}
	}

	.order-form {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 100%;
	}

	.order-form-item {
		position: relative;
		margin: .8rem 8px;
	}

	.order-button {
		@extend .button;

		margin: 2rem auto 0;
		padding: .5rem 2rem;
		text-align: center;
		cursor: pointer;

		&.in-progress {
			background: $brand-gray-color;
			cursor: not-allowed;
		}
	}

	.input-error {
		@extend .input-error;
	}

	.project-summary {
		margin-top: 4rem;
		text-align: center;
	}

	.project-summary-body {
		display: flex;
		flex-direction: column;
	}

	.project-summary-item {
		margin: .5rem 0;
	}

	.other-params {
		box-sizing: border-box;
	}

	.edges-params {
		display: flex;
		flex-direction: column;
		margin-top: 2rem;
		box-sizing: border-box;

		span {
			width: 25%;
			margin: 0 1rem;
			text-align: center;
		}
	}

	.edges-header {
		display: flex;
		padding-bottom: 1rem;
		border-bottom: 2px solid white;
	}

	.edges-item {
		display: flex;
		padding: 1rem 0;
		border-bottom: 1px solid white;
	}

	.api-popup {
		position: fixed;
		top: 10%;
		right: 0;
		left: 0;
		width: 50%;
		padding: 2rem;
		margin: auto;
		border-radius: 1rem;
		background: white;
		font-size: 1.2rem;
		font-weight: 700;
		text-align: center;
		color: $brand-green-color;
		box-shadow: 2px 2px 6px $brand-black-color;
		z-index: 10000;

		&.error {
			color: red;
		}
	}

	@include media-breakpoint-up(sm) {
		.order-form {
			width: 80%;
		}
	}

	@include media-breakpoint-up(lg) {
		padding-top: 6em;
		padding-bottom: 6em;

		.order-completed-buttons {
			flex-direction: row;
		}

		.order-summary {
			flex-direction: row;
		}

		.summary-info {
			align-items: unset;
			width: 35%;
			padding: 0 2rem;
			border-right: 3px solid white;
		}

		.payment-data {
			text-align: left;
		}

		.customer-data {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 65%;
			margin-top: 0;
		}

		.order-form {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			width: 600px;
		}

		.project-summary {
			text-align: left;

			h2 {
				padding-left: 1rem;
			}
		}

		.project-summary-body {
			flex-direction: row;
		}

		.other-params {
			width: 35%;
			padding: 0 2rem;
			border-right: 3px solid white;
		}

		.edges-params {
			width: 65%;
			padding: 0 2rem;
			margin-top: 0;
		}
	}
}