.topbar {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: $topbar-height;
	padding-top: 0;
	padding-bottom: 0;
	background: white;
	font-size: .9rem;
	z-index: 9998;

	i[class^=icon] {
		cursor: pointer;
	}

	.icon-menu {
		font-size: 2rem;
	}

	.language-switch {
		font-size: 1.5rem;
	}

	.logo-wrapper {
		height: 100%;
		cursor: pointer;
	}

	.logo {
		max-height: $topbar-height;
	}

	.navbar {
		position: absolute;
		top: $topbar-height;
		left: 0;
		display: flex;
		flex-direction: column;
		padding: 8px;
		background: white;
		visibility: hidden;
		opacity: 0;
	}

	.navbar-item {
		padding: 8px;
		border-bottom: 2px solid transparent;
		white-space: nowrap;
		text-transform: uppercase;
		line-height: 2;
		letter-spacing: 1px;

		&:last-child {
			@extend .button;
			border: none;
		}
	}

	.languages {
		position: absolute;
		top: $topbar-height;
		right: 0;
		display: flex;
		padding: 8px 16px;
		background: white;
		color: $brand-primary-color;
		visibility: hidden;
		opacity: 0;
	}

	.language-flag {
		height: 16px;
		margin: 0 4px;
		cursor: pointer;
		filter: grayscale(.9);

		&.active {
			filter: none;
		}

		&.no {
			width: 20px;
			background: {
				image: url(#{$images-path}/language-flags.jpg);
				position: 46px top;
			}
		}

		&.en {
			width: 26px;
			background: {
				image: url(#{$images-path}/language-flags.jpg);
				position: right;
			}
		}

		&.pl {
			width: 24px;
			background: {
				image: url(#{$images-path}/language-flags.jpg);
				position: left;
			}
		}
	}

	.phone {
		display: none;
	}

	.visible {
		visibility: visible;
		opacity: 1;
		transition: opacity .2s linear;
	}

	@include media-breakpoint-up(sm) {
		font-size: .9rem;
	}

	@include media-breakpoint-only(md) {
		padding: 0 32px;
	}

	@include media-breakpoint-up(md) {
		justify-content: space-between;
		height: $topbar-height;

		.icon-menu, .language-switch {
			display: none;
		}

		.logo {
			max-height: $topbar-height;
			box-shadow: 1px 1px 4px #535353;
		}

		.navbar {
			position: static;
			justify-content: space-between;
			flex-direction: row;
			align-items: baseline;
			padding: 0;
			background: none;
			visibility: visible;
			opacity: 1;
		}

		.navbar-item {
			margin: 20px 0 6px 4px;
			line-height: 1;
			letter-spacing: normal;

			&:not(:last-child) {
				&:hover, &.router-link-active {
					border-bottom: 2px solid $brand-black-color;
					color: $brand-black-color;
				}
			}
		}

		.languages {
			top: 8px;
			display: flex;
			padding: 0;
			padding-right: inherit;
			background: none;
			visibility: visible;
			opacity: 1;

			span {
				&:not(:last-child) {
					&:after {
						margin-left: 8px;
						margin-right: 8px;
					}
				}
			}
		}

		.phone {
			display: block;
			margin-right: 1rem;
		}
	}

	@include media-breakpoint-up(lg) {
		font-size: 1rem;

		.logo {
			max-height: 140%;

			&.small-logo {
				max-height: 100%;
			}
		}

		.navbar-item {
			margin-left: 6px;
		}
	}

	@include media-breakpoint-up(xl) {
		.navbar-item {
			margin-left: 32px;
		}
	}
}