<template>
  <div
    class="railing-configurator"
    :class="{
      'fluid-container': !inlineDetail,
      'low-resolution': !inlineDetail && isLowResolution
    }"
  >
    <i v-if="loaderVisible" class="icon-spinner"></i>
    <div v-if="visualizatorReady" class="configurator">
      <div class="vizualizator-wrapper">
        <div class="summary-bar">
          <div class="railing-type-list">
            <div class="railing-type-button">
              <span>{{ $t("railingType") }}</span>
            </div>
            <div class="railing-type-items-wrapper">
              <div
                v-for="option in store.railingTypeConfig.options"
                :key="option.id"
                :class="{
                  active:
                    store.setup[railingTypeConfigId].optionId === option.id
                }"
                class="railing-type-button"
                @click="setSetupOption(railingTypeConfigId, option.id)"
              >
                <span
                  :class="{
                    'railing-type-name': option.id !== railingWithPostsName
                  }"
                >
                  {{ $t(option.name) }}
                </span>
                <span
                  v-if="option.id !== railingWithPostsName"
                  class="blinking-number"
                >
                  <i class="icon-phone"></i>
                  +47 939 68 841
                </span>
              </div>
            </div>
          </div>
          <div class="order-items-wrapper">
            <div class="price-button">
              <span>{{ $t("price") }}: {{ price }} kr</span>
              <span class="price-description">{{
                $t("page.railingConfigurator.priceDescription")
              }}</span>
            </div>
            <router-link to="/summary" class="order-button">
              <span>{{ $t("addToCart") }}</span>
              <i class="icon-cart"></i>
            </router-link>
          </div>
        </div>
        <div class="railing-visualizator-wrapper">
          <railing-visualizator
            :setup="store.setup"
            @set-loader="setLoader"
          ></railing-visualizator>
        </div>
        <div v-if="hintVisible" class="config-hint">
          {{
            $t(`page.railingConfigurator.${optionHint || activeItem.name}.hint`)
          }}
          <i class="icon-cancel-circle" @click="onHintHide"></i>
        </div>
      </div>
      <div class="configurator-list">
        <configurable-item
          v-for="item in store.setupList"
          :ref="item.id"
          :key="item.id"
          :detail="item"
          :inlineDetail="inlineDetail"
          :hintVisible.sync="hintVisible"
          :setupItem="activeItem"
          :activeItemId="activeItemId"
          :class="{ active: activeItemId === item.id }"
          @add-option="addOption"
          @remove-option="removeOption"
          @set-option-hint="setOptionHint($event)"
          @set-setup-option="setSetupOption(activeItemId, $event)"
          @click.native="setActiveItem(item)"
        />
      </div>
      <div v-if="!inlineDetail" class="item-section-detail">
        <options-slider
          :setupItem="activeItem"
          @add-option="addOption"
          @remove-option="removeOption"
          @set-option-hint="setOptionHint($event)"
          @set-setup-option="setSetupOption(activeItemId, $event)"
        />
      </div>
    </div>
    <transition name="fade">
      <modal :visible.sync="errorVisible" danger :timeout="4000" closeButton>
        <template #body>
          <div v-for="errorMessage in errors" :key="errorMessage">
            {{ $t(`page.railingConfigurator.error.${errorMessage}`) }}
          </div>
        </template>
      </modal>
    </transition>
  </div>
</template>

<script>
import { ConfigurableItem, Modal } from '@components';
import { OptionsSlider } from '@components/configurator-components';
import RailingVisualizator from './visualization/index.vue';
import EventBus, { EventType } from '@/eventbus';
import { RAILING_TYPE_ID, ResourceName, SetupItemName, ProjectError, SetupItemTypeName } from '@/static';
import { localStorageManager, getError } from '@/utils';
import RailingResource from '@/store/railing-store';

const INLINE_DETAIL_BREAKPOINT = 992;
const MIN_SEGMENT_LENGTH = 800; //[mm]
const MAX_SEGMENT_LENGTH = 1200; //[mm]

export default {
  name: 'railing-configurator',
  components: {
    ConfigurableItem,
    OptionsSlider,
    RailingVisualizator,
    Modal,
  },

  data() {
    return {
      railingTypeConfigId: RAILING_TYPE_ID,
      railingWithPostsName: SetupItemTypeName.RAILING_WITH_POSTS,
      inlineDetail: false,
      activeItemId: undefined,
      hintVisible: false,
      optionHint: undefined,
      visualizatorReady: false,
      loaderVisible: true,
      railingResource: this.$services.get(ResourceName.RAILING_RESOURCE),
      store: undefined,
      errorVisible: false,
      isLowResolution: window.screen.width < 1920,
      errors: [],
    };
  },

  watch: {
    activeItemId() {
      this.optionHint = undefined;
    }
  },

  computed: {
    detailComponent() {
      const foundComponent = this.setupList.find(item => item.id === this.activeItem.id);
      return foundComponent && foundComponent.detailComponent;
    },
    activeItem() {
      return this.store.setupList.find(item => item.id === this.activeItemId) || {};
    },
    price() {
      return this.railingResource.project.grossPrice;
    }
  },

  created() {
    this.store = this.railingResource.store;
    EventBus.$on(EventType.RESIZE_BREAKPOINT, this.onBreakPointReach);
    EventBus.$on(EventType.VISIBILITY_CHANGE, this.onVisibilityChange);
    this.onBreakPointReach(window.innerWidth);
    this.prepareSetup()
      .then(() => {
        this.activeItemId = this.store.setupList[0].id;
        this.visualizatorReady = true;
      });
  },

  beforeDestroy() {
    EventBus.$off(EventType.RESIZE_BREAKPOINT, this.onBreakPointReach);
    EventBus.$off(EventType.VISIBILITY_CHANGE, this.onVisibilityChange);
  },

  methods: {
    setLoader(value) {
      this.loaderVisible = value;
    },
    prepareSetup(projectType) {
      const { type, forceNewProject } = this.$route.params;
      return this.railingResource.fetchAll(projectType || type, forceNewProject);
    },

    onBreakPointReach(width) {
      this.inlineDetail = width < INLINE_DETAIL_BREAKPOINT;
    },

    onVisibilityChange(isVisible) {
      if (isVisible) {
        this.prepareSetup(this.railingResource.project.projectType);
      }
    },

    setActiveItem(item) {
      this.activeItemId = item.id;
    },

    setRailingType(type) {
      this.activeRailingType = type;
    },

    onHintHide() {
      this.hintVisible = false;
    },

    addOption(item) {
      this.loaderVisible = true;
      this.railingResource.addOption(this.activeItemId, item);
    },

    removeOption(item) {
      this.loaderVisible = true;
      this.railingResource.removeOption(this.activeItemId, item);
    },

    setSetupOption(id, optionId) {
      if (id === RAILING_TYPE_ID) {
        return;
      }

      this.loaderVisible = true;
      let newOption = optionId;
      if (id === SetupItemName.EDGES) {
        newOption = this.correctEdgesSetup(newOption);
      }

      this.railingResource.setOption(id, newOption)
        .then(() => this.setError(false))
        .catch(({ errors = [] } = {}) => {
          const projectErrors = errors.map(error => getError(ProjectError, error));
          this.setError(true, projectErrors)
          this.loaderVisible = false;
        });

      if (id === RAILING_TYPE_ID) {
        this.railingResource.fetchAll(optionId);
      }
    },

    correctEdgesSetup(edgesConfig) {
      const oldEdges = this.store.setup[SetupItemName.EDGES].optionId;
      return edgesConfig.map((edge, i) => {
        const { length, segmentsNumber } = edge;
        if (oldEdges[i].length !== length) {
          const minSegmentsNumber = Math.floor(length / MIN_SEGMENT_LENGTH);
          const maxSegmentsNumber = Math.ceil(length / MAX_SEGMENT_LENGTH);
          let properSegmentsNumber = 1;

          if (length < MIN_SEGMENT_LENGTH) {
            return { ...edge, segmentsNumber: properSegmentsNumber };
          }

          if (segmentsNumber < minSegmentsNumber || segmentsNumber > maxSegmentsNumber) {
            properSegmentsNumber = minSegmentsNumber === maxSegmentsNumber
              ? minSegmentsNumber
              : Math.floor(minSegmentsNumber + ((maxSegmentsNumber - minSegmentsNumber) / 2));

            return {
              ...edge,
              segmentsNumber: properSegmentsNumber
            };
          }
        }

        return edge;
      });
    },

    setError(visible, errors = []) {
      this.errorVisible = visible;
      this.errors = errors;
    },

    setOptionHint(label) {
      this.hintVisible = true,
        this.optionHint = label;
    },
  },
};
</script>

