<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="theme-color" content="#000" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
  <title th:text="#{index.title}"/>
  <link rel="icon" type="image/x-icon" th:href="${'/static/images/favicon.png'}">
  <link rel="stylesheet" th:href="${'/static/styles/main.css'}"/>
</head>

<body>
  <div id="app"></div>
  <script type="text/javascript"  th:src="${'/static/javascript/main.js'}"></script>
  <script th:if="${@environment.getProperty('spring.profiles.active') != 'prod'}" src="http://localhost:35729/livereload.js"></script>

  <script type="text/javascript">
    window.appInfo = {
      buildDate: '[[${@environment.getProperty("application.build-date")}]]',
      env: '[[${@environment.getProperty("spring.profiles.active")}]]',
    };
  </script>
</body>

</html>