<template>
  <div ref="canvas" class="railing-canvas"></div>
</template>

<script>
import * as THREE from 'three';
import throttle from 'lodash.throttle';
import OrbitControls from 'three-orbitcontrols';
import { disposeObjects } from '@/utils';
import {
  AttachListeners,
  CalculateParams,
  DimensionsMixin,
  PlatformMixin,
  ColumnsMixin,
  GripsMixin,
  GlassesMixin,
  HandrailsMixin,
  WorldMixin,
  MountingsMixin,
} from './mixins';

const RESIZE_THROTTLE = 100; //[ms]
const BACKGROUND_COLOR = '#ffffff';
const LIGHT_COLOR = '#ffffff';

export default {
  name: 'railing-visualizator',
  mixins: [
    AttachListeners,
    CalculateParams,
    DimensionsMixin,
    PlatformMixin,
    ColumnsMixin,
    GripsMixin,
    GlassesMixin,
    HandrailsMixin,
    WorldMixin,
    MountingsMixin,
  ],
  props: {
    setup: Object,
  },
  data() {
    return {
      camera: undefined,
      cameraInitPosition: {
        x: 2.5,
        y: 1.4,
        z: 2.5,
      },
    }
  },
  created() {
    window.addEventListener('resize', this.resizeThrottle = throttle(() => {
      const { height, width } = this.calculateCanvasDimensions();
      this.camera.aspect = width / height;
      this.renderer.setSize(width, height);
      this.camera.updateProjectionMatrix();
      this.renderer.render(this.scene, this.camera);
    }, RESIZE_THROTTLE));
  },
  mounted() {
    this.calculateParams();
    this.configureScene();
    this.configureLights();
    this.createProject();
  },
  beforeDestroy() {
    this.scene.dispose();
    this.scene = null;
    window.removeEventListener('resize', this.resizeThrottle);
  },
  methods: {
    calculateCanvasDimensions() {
      return {
        height: parseInt(window.getComputedStyle(this.$el).maxHeight, 10),
        width: this.$refs.canvas.offsetWidth,
      };
    },
    createProject() {
      this.createWorld();
      this.createPlatform();
      this.createColumns();
      this.createGlasses();
      this.createGrips();
      this.createHandrails();
      this.createMountings();
      this.renderer.render(this.scene, this.camera);
    },

    configureScene() {
      const { x: camX, y: camY, z: camZ } = this.cameraInitPosition;
      const { height, width } = this.calculateCanvasDimensions();

      //Scene Renderer
      this.scene = new THREE.Scene();
      this.renderer = new THREE.WebGLRenderer({ antialias: true });
      this.$refs.canvas.appendChild(this.renderer.domElement);
      this.renderer.setClearColor(BACKGROUND_COLOR);
      this.renderer.setSize(width, height);
      this.renderer.shadowMap.enabled = true;

      //Camera settings
      this.camera = new THREE.PerspectiveCamera(45, width / height, .1, this.worldParams.size);
      this.camera.position.set(camX, camY, Math.sqrt(this.maxEdgeLength) * camZ);

      //Manipulation of point of view
      this.controls = new OrbitControls(this.camera, this.renderer.domElement);
      this.controls.screenSpacePanning = false;
      this.controls.minDistance = 2.2;
      this.controls.maxDistance = 12;
      this.controls.maxPolarAngle = THREE.Math.degToRad(85);

      this.camera.lookAt(this.scene.position);
      this.renderer.render(this.scene, this.camera);
    },

    configureLights() {
      const pointLight = new THREE.PointLight(LIGHT_COLOR, 0.9);
      pointLight.position.set(0, 5, 1000);
      this.scene.add(pointLight);

      const pointLight2 = new THREE.PointLight(LIGHT_COLOR, 0.9);
      pointLight2.position.set(0, 5, -1000);
      this.scene.add(pointLight2);

      const ambientLight = new THREE.AmbientLight(LIGHT_COLOR, 1.2);
      ambientLight.position.set(0, 10, -10);
      this.scene.add(ambientLight);

      const directionalLight = new THREE.DirectionalLight(LIGHT_COLOR, 0.7);
      directionalLight.position.set(10, 10, 5);
      directionalLight.target.position.set(0, 0, 0);
      directionalLight.castShadow = true;
      directionalLight.shadow.mapSize.width = 1024;
      directionalLight.shadow.mapSize.height = 1024;
      this.scene.add(directionalLight);
      this.scene.add(directionalLight.target);
    }
  },
};
</script>
