<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{mail/email-layout.html}">
	<body layout:fragment="body">
		<div th:inline="text" th:text="#{mail.contact.form.admin.client.name} + ': ' + ${name}"></div>
		<br/>
		<div th:inline="text">
			[[#{mail.contact.form.admin.client.mail}]]: <a th:href="'mailto:' + ${clientEmail}" th:text="${clientEmail}"/>
		</div>
		<br/>
		<div th:if="${phoneNumber != null}" th:inline="text">
			[[#{mail.contact.form.admin.client.phone}]]: <a th:href="'tel:' + ${phoneNumber}" th:text="${phoneNumber}"/>
		</div>
		<br/>
		<div th:text="#{mail.contact.form.admin.content} + ': ' + ${content}"></div>
		<br/>
	</body>
</html>