<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{mail/email-layout.html}">
	<body layout:fragment="body">
		<div th:text="#{mail.contact.form.client.info} + ':'"></div>
		<br/>
		<div th:text="${content}"></div>
		<br/>
		<div th:inline="text" th:text="#{mail.contact.form.client.name} + ': ' + ${name}"></div>
	</body>
</html>