<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:with="lang=${#locale.language}"
      th:lang="${lang}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <header layout:fragment="header">
        <div th:text="#{mail.header}" style="font-size: 1.1rem; text-align: center;"></div>
    </header>
    <body layout:fragment="body">
    ...
    </body>
    <footer layout:fragment="footer">
        <div th:utext="#{mail.footer}" style="font-size: .8rem; text-align: center;"></div>
    </footer>
</html>