<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{mail/email-layout.html}">
    <body layout:fragment="body">
        <div th:text="#{mail.order.content(${projectCode}, ${price})}"></div>
        <ul>
            <li th:each="selectedOption:${selectedOptions}" th:text="${selectedOption}"></li>
        </ul>
        <div th:text="#{mail.order.contact}"></div>
        <ul>
            <li th:if="${contact.name != null}" th:text="#{mail.order.contact.name} + ${contact.name}"></li>
            <li th:if="${contact.surname != null}" th:text="#{mail.order.contact.surname} + ${contact.surname}"></li>
            <li th:if="${contact.email != null}" th:text="#{mail.order.contact.email} + ${contact.email}"></li>
            <li th:if="${contact.phone != null}" th:text="#{mail.order.contact.phone} + ${contact.phone}"></li>
            <li th:if="${contact.postalCode != null}" th:text="#{mail.order.contact.postalCode} + ${contact.postalCode}"></li>
            <li th:if="${contact.city != null}" th:text="#{mail.order.contact.city} + ${contact.city}"></li>
            <li th:if="${contact.street != null}" th:text="#{mail.order.contact.street} + ${contact.street}"></li>
            <li th:if="${contact.flatNumber != null}" th:text="#{mail.order.contact.flatNumber} + ${contact.flatNumber}"></li>
        </ul>
    </body>
</html>