<template>
  <div>
    <top-bar />
    <router-view />
    <footer-section />
  </div>
</template>

<script>
import { TopBar, FooterSection } from '@components';
import { ResizeMixin, VisibilityChangeMixin } from '@mixins';
import { ResourceName } from '@/static';
import { localStorageManager, StorageKey } from '@/utils';
import RailingResource from '@/store/railing-store';

export default {
  components: {
    TopBar,
    FooterSection,
  },
  mixins: [ResizeMixin, VisibilityChangeMixin],
  created() {
    const railingResource = this.$services.add(ResourceName.RAILING_RESOURCE, RailingResource);
    const existingProjectCode = localStorageManager.getItem(StorageKey.PROJECT_CODE);

    if (existingProjectCode) {
      railingResource.project.get(existingProjectCode);
    }
  }
};
</script>