<template>
  <div class="section">
    <slot></slot>
    <div class="section-photos">
      <div class="large-photo">
        <img
          :src="localImages[inlineIndex]"
          @click="index = inlineIndex"
        />
      </div>
      <div class="thumbnails-wrapper">
        <img
          v-for="(image, i) in localImages"
          :key="i"
          :src="image"
          class="thumbnail"
          @click="inlineIndex = i"
        />
      </div>
      <vue-gallery-slideshow
        :images="localImages"
        :index="index"
        @close="onFullscreenClose"
      ></vue-gallery-slideshow>
    </div>
  </div>
</template>

<script>
import VueGallerySlideshow from 'vue-gallery-slideshow';

export default {
  name: 'photo-gallery',
  components: {
    VueGallerySlideshow,
  },
  props: {
    images: Array,
  },
  data() {
    return {
      isFullScreen: false,
      index: null,
      inlineIndex: 0,
      localImages: this.images.map(name => `static/images/${name}.jpg`),
    }
  },
  methods: {
    onFullscreenClose() {
      this.index = null;
    }
  }
}
</script>