<template>
  <div class="footer container">
    <div class="logo-wrapper">
      <img class="logo" src="static/images/logo.jpg" />
    </div>
    <div class="column-wrapper">
      <div class="footer-column navbar-items">
        <router-link to="/">{{ $t("navbar.home") }}</router-link>
        <router-link to="/projects">{{ $t("navbar.projects") }}</router-link>
        <router-link to="/about">{{ $t("navbar.aboutCompany") }}</router-link>
        <router-link to="/contact">{{ $t("navbar.contact") }}</router-link>
      </div>
      <div class="footer-column">
        <router-link to="/contact">{{ $t("navbar.contact") }}</router-link>
        <a href="mailto:admin@glassverden.no">admin@glassverden.no</a>
        <a href="tel:+47 939 68 841">+47 939 68 841</a>
      </div>
      <div class="footer-column">
        <span class="uppercase">{{ $t("payments") }}</span>
        <img src="static/images/payments.jpg" />
      </div>
      <div class="footer-column">
        <span class="uppercase">{{ $t("followUs") }}</span>
        <a href="https://www.facebook.com/IwanskiGruppen/" target=”_blank”>
          <i class="icon-facebook"></i>
        </a>
      </div>
    </div>
    <div class="copyright">
      {{ $t("copyrightNote") }}
    </div>
  </div>
</template>

<script>
export default {
}
</script>