<template>
  <div v-if="visible" class="modal">
    <i v-if="!timeout || closeButton" class="icon-cross" @click="close"></i>
    <div :class="{ 'modal-header': $slots.header }">
      <slot name="header"></slot>
      <template v-if="$slots.header">
        <i v-if="danger" class="danger icon-cross"></i>
        <i v-else-if="success" class="success icon-checkmark"></i>
      </template>
    </div>
    <div :class="{ 'modal-body': $slots.body }">
      <slot name="body"></slot>
      <template v-if="!$slots.header">
        <i v-if="danger" class="danger icon-cross"></i>
        <i v-else-if="success" class="success icon-checkmark"></i>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  name: 'modal',
  props: {
    visible: Boolean,
    timeout: Number,
    closeButton: Boolean,
    danger: {
      type: Boolean,
      default: false,
    },
    success: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      info: !(this.danger && this.success),
    };
  },
  watch: {
    visible(visible) {
      if (visible && this.timeout) {
        setTimeout(() => {
          this.$emit('update:visible', false);
        }, this.timeout);
      }
    },
  },
  methods: {
    close() {
      this.$emit('update:visible', false);
    }
  },
}
</script>